@import '../../../assets/styles/common.scss';

.crew-profile-list {
  display: flex;
}

.crew-profile {
  align-items: center;
  text-align: center;
  flex: 1;

  & > img {
    height: 270px;
    width: 250px;
  }
}
