<div class="row">
  <div class="strike col-12">
    <span>At A GLANCE</span>
  </div>
  <div class="col-12 ">
    <div class="row">
      <div class="col-12 ">
        <div class="float-left mt-2">
          <i class="fa fa-male mr-2"></i>
          <span>30 Number Of Boys</span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="float-right mt-2">
          <span>Number Of Girls 20</span>
          <i class="fa fa-female ml-2"></i>
        </div>
      </div>
    </div>

  </div>

</div>
