<div class="row">
  <div class="strike col-12">
    <span>At A GLANCE</span>
  </div>
  <div class="col-12 ">
    <div class="row">
      <div class="col-12 ">
        <div class="float-left mt-2">
          <i class="fa fa-home mr-2"></i>
          <span>1 home</span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="float-right mt-2">
          <span>Around 35 child within age group of 10 - 19</span>
          <i class="fa fa-user ml-2"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="float-left mt-2">
          <i class="fa fa-handshake-o mr-2"></i>
          <span>4 - 5 enthusiatic volunteers</span>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="float-right mt-2">

          <span>Support from 5 IT companies</span>
          <i class="fa fa-user ml-2"></i>
        </div>
      </div>
    </div>
  </div>

</div>
