@import '../assets/styles/variables.scss';

.headerMenu {
    button {
        font-weight: 600;
        color: $common-font-color;
        margin: 0 10px;
    }
    .activeHeader {
        button {
            background-color: $common-font-color;
            color: $font-white;
        }
    }
}

.navigation-router-container{
    height: 95px;
}