@import '../assets/styles/variables.scss';
.headerMenu {
    padding: 24px;
    button {
        font-weight: 600;
        color: $common-font-color;
        margin: 0 10px;
    }
    .activeHeader {
        button {
            background-color: $common-font-color;
            color: $font-white;
        }
    }
}

.navigation-router-container {
    height: 95px;
    .logo {
        width: 255px;
    }
    padding: 1px;
}

.mobilePage {
    position: fixed;
    top: 40%;
    img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    span {
        padding: 30px;
        margin: 0 auto;
        display: block;
        width: 90%;
    }
}